.time-span {
  margin-left: auto;
  margin-right: 16px;
}

h1,
.intro-container h5,
.right-wrong {
  text-align: center;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  margin: 10px 0;
  width: 20%;
}
